// misc
$font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
$color-scheme: light dark;

// palette
$body: #fafafa;
$white: #fff;
$black:#000;
$text: #9196a2;
$border: #ececec;
$shadow: #ececec;
$active: #8595c6;
$active-light: #d7defb;
$link: #646cff;

// scalars
$radius: 15px;
$b-size: 1px;

// spaces
$space: 10px;
$space-sm: 5px;
$space-lg: 15px;
$space-xl: 20px;
